    #ThreeJS {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: auto;
    }

    button {
        border-radius: 10px;
        background-color: #0E1C36;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
    }

    header {
        text-align: center;
        background-color: #0E1C36;
        color: ivory;
        width: 100%;
        padding: 5px;
    }

    header h1,
    h2 {
        margin: 0;
    }

    body {
        background-color: #dcded5;
        color: #0E1C36;
    }

    .cabecera {
        display: flex;
    }

    .cabecera img {
        margin: 0;
    }

    nav {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: 2px solid #0E1C36;
        margin-bottom: 20px;
    }

    nav a {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
        background-color: #D7F9FF;
        color: #0E1C36;
        text-decoration: none;

        height: 27px;

    }

    nav a:hover {
        transition: 0.3s;
        background-color: #0E1C36;
        color: ivory;
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        background-color: #8195b9;
        padding: 20px;
        border: 2px solid #0E1C36;
        margin: 15px 10px;

        flex: 0 1 auto;
        justify-content: space-evenly;
    }

    section p {
        margin-left: 10px;
        font-size: 18px;
        color: ivory;
    }

    section h2 {
        color: #0E1C36;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }

    img {
        display: block;
        margin: auto;
    }

    footer {
        text-align: center;
        background-color: #0E1C36;
        color: ivory;
        margin: auto;
    }

    #map {
        height: 300px;
        width: 300px;
        margin: auto;
    }

    #video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: #dcded5;
        border: 2px solid #0E1C36;
        padding: 10px;
        border-radius: 10px;
        width: 300px;
        height: auto;
    }

    #video1 {
        max-width: 100%;
        max-height: 100%;
    }

    #audio-player {
        display: inline-flex;
        flex-direction: column;
    }

    #container-botones {
        display: inline-flex;
        border: 2px solid #0E1C36;
        border-radius: 20px;
        background-color: #dcded5;
        margin-top: 20px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #container-botones img {
        width: 60px;
        height: auto;
        padding: 2px;

    }

    #progress-bar-container {
        margin-top: 20px;
        height: 10px;
        margin-left: 5px;
        width: 90%;
        background-color: #ccc;
        margin-left: auto;
        margin-right: auto;

    }

    #progress-bar {
        width: 0;
        height: 100%;
        background-color: red;
    }

    section:hover {
        transition: 0.5s;
        transform: scale(1.05, 1.05);
    }

    #imagenAn {
        background-color: #dcded5;
        border: 2px solid #0E1C36;
        padding: 10px;
        border-radius: 10px;
    }

    canvas {
        border: 2px solid #0E1C36;
    }

    .canvas-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    circle {
        fill: #0E1C36;
        fill-opacity: .65;
        stroke: #0E1C36;
        stroke-width: 1px;
    }

    .leaf circle {
        fill: #D7F9FF;
        fill-opacity: 1;
    }

    text {
        font: 10px sans-serif;
        text-anchor: middle;
        
    }
